*.log
*~
*.pyc
*.jpg
*.project
*.settings*
*.cproject
*.external*
*.pydev*
*.vcproj
*.jpeg
*.orig
*.swp
.vscode
textures/ui/common/BUTTON/backgroundselect/original/
textures/ui/common/BUTTON/backgroundselect/test/
textures/ui/common/countries/original/
textures/ui/common/BUTTON/TEST/
textures/ui/common/BACKGROUND/test/
lua/ui/lobby/test/
textures/ui/common/BUTTON/BACKUP/
*/dds/*
.idea
*.DS_Store

# excluding DEV files from root of repo
fa_path.lua
init_dev.lua
