.unit-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.unit-icon {
  width: 64px;
  height: 64px;
}

.unit-name {
  display: inline-block;
}

.change-category {
  font-weight: 600;
}

.change {
  font-weight: 300;
}

.old {
  color: #d73a49;
  text-decoration: line-through;
}

.new {
  color: #2da44e;
}

[data-color-scheme="dark"] {
  .old {
    color: #ff7b72;
  }

  .new {
    color: #3fb950;
  }
}