name: Build
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-0
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install bash
        run: apk add bash findutils
      - name: Run lua tests
        run: "bash ./run_lua_tests.sh"
