name: Build

on: [pull_request]

jobs:
  syntax:
    name: Syntax
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install bash
        run: apk add bash findutils
      - name: Check Lua syntax
        run: "bash ./run_lua_syntax_checker.sh"
  tests:
    name: Tests
    needs: syntax
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install bash
        run: apk add bash findutils
      - name: Run Lua tests
        run: "bash ./run_lua_tests.sh"
  testUnits:
    name: Sanity check on unit blueprints
    needs: syntax
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install bash
        run: apk add bash findutils
      - name: Run Lua tests
        run: "bash ./run_lua_blueprint_tests.sh"
