# Copyright (c) 2024 Willem 'Jip' Wijnia
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

name: Create changelog

on:
  workflow_dispatch:
    inputs:
      reference: 
        required: true
        type: choice
        default: develop
        description: The reference (branch or tag) to use to compile the changelog snippets from
        options:
          - develop
          - deploy/fafbeta
          - deploy/fafdevelop

  workflow_call:
    inputs:
      reference: 
        required: true
        type: string
        default: develop
        description: The reference (branch or tag) to use to compile the changelog snippets from
        
  pull_request:
    paths:
      - "changelog/snippets/*.md"
  push:
    branches:
      - deploy/fafdevelop
      
jobs:
  verify:
    name: Verify snippets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: scripts
          ref: develop
          sparse-checkout: |
            .github/workflows/scripts

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: fa
          ref: ${{ inputs.reference }}
          sparse-checkout: |
            .github/workflows/scripts
            changelog/snippets

      - name: Update environment path
        run: | 
          echo "${{ github.workspace }}/scripts/.github/workflows/scripts" >> $GITHUB_PATH

      - name: Verify the changelog snippets
        working-directory: fa/changelog/snippets # script assumes it is in this directory
        run: |
          changelog-verify.sh

  bundle:
    name: Bundle snippets
    runs-on: ubuntu-latest
    needs: [verify]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: scripts
          ref: develop
          sparse-checkout: |
            .github/workflows/scripts

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: fa
          sparse-checkout: |
            .github/workflows/scripts
            changelog/snippets

      - name: Update environment path
        run: | 
          echo "${{ github.workspace }}/scripts/.github/workflows/scripts" >> $GITHUB_PATH

      - name: Create the changelog
        working-directory: fa/changelog/snippets # script assumes it is in this directory
        run: |
          changelog-combine.sh

      - name: Add the changelog as an artifact
        uses: actions/upload-artifact@v4
        with:
          # we need to remove `deploy/` from the reference
          name: changelog-${{ (inputs.reference == 'deploy/fafdevelop' && 'fafdevelop') || (inputs.reference == 'deploy/fafbeta' && 'fafbeta') || inputs.reference }}
          path: |
            fa/changelog/snippets/faf-develop.md
