# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Documentation - Build and deploy

on:
  push:
    branches: ['develop']
    paths: ['docs/**']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # Build job
  changelog-develop:
    uses: ./.github/workflows/changelog.yaml
    with:
      reference: deploy/fafdevelop

  changelog-beta:
    uses: ./.github/workflows/changelog.yaml
    with:
      reference: deploy/fafbeta
    
  build:
    needs: [changelog-develop, changelog-beta]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: develop
          sparse-checkout: | 
            docs

      - name: Download artifact changelog of FAF Develop
        uses: actions/download-artifact@v4
        with:
          name: changelog-fafdevelop
          path: generated

      - name: Download artifact changelog of FAF Beta
        uses: actions/download-artifact@v4
        with:
          name: changelog-fafbeta
          path: generated

      - name: Append the generated changelogs
        run: |
          ls -r
          cat generated/changelog-fafdevelop.md >> changelogs/fafdevelop.md
          cat generated/changelog-fafbeta.md >> changelogs/fafbeta.md

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
          working-directory: '${{ github.workspace }}/docs'
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_site/'

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
