name: Test

on: [push]

jobs:
  syntax:
    name: Syntax
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Install tooling
        run: apk add bash git findutils
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            *.sh
            *.lua
            *.bp
      - name: Check Lua syntax
        run: "bash ./tests/run-syntax-test.sh"
  testUtils:
    name: Utility tests
    needs: [syntax]
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Install tooling
        run: apk add bash git findutils
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            *.sh
            *.lua
            *.bp
      - name: Run Lua tests
        run: "bash ./tests/run-utility-tests.sh"
  testUnits:
    name: Blueprint tests
    needs: [syntax]
    runs-on: ubuntu-latest
    container: faforever/lua:v5.0-1
    steps:
      - name: Install tooling
        run: apk add bash git findutils
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            *.sh
            *.lua
            *.bp
      - name: Run Lua tests
        run: "bash ./tests/run-blueprint-tests.sh"
